<header class="header">
  <a href="#">
    <img src="assets/images/logo.png" alt="YouTube Logo" class="youtube-logo"/>
  </a>
  <form class="search-bar">
    <input class="search-input" type="search" placeholder="Search" aria-label="Search"/>
    <button type="submit" class="search-btn">
      <img src="assets/images/magnify.svg"/>
    </button>
  </form>
  <div class="menu-icons">
    <a href="#" (click)="openAddNewVideoModal()">
      <img src="assets/images/video-plus.svg" alt="Upload Video"/>
    </a>
    <a href="#">
      <img src="assets/images/apps.svg" alt="Apps"/>
    </a>
    <a href="#">
      <img src="assets/images/bell.svg" alt="Notifications"/>
    </a>
    <a href="#">
      <img class="menu-channel-icon" src="http:///unsplash.it/36/36?gravity=center" alt="Your Channel"/>
    </a>
  </div>
</header>
<div class="categories">
  <section class="category-section">
    <button class="category active">All</button>
    <button class="category">Category 1</button>
    <button class="category">Category 2</button>
    <button class="category">Category 3</button>
    <button class="category">Category 4</button>
    <button class="category">Category 5</button>
    <button class="category">Category 6</button>
    <button class="category">Category 7</button>
    <button class="category">Category 8</button>
    <button class="category">Category 9</button>
  </section>
</div>
<div class="videos" *ngIf="!playVideo">
  <section class="video-section">
    <article class="video-container" *ngFor="let video of videos">
      <a class="thumbnail" [attr.data-duration]="video.duration" (click)="showPlayVideo(true, video.videoUrl)">
        <img class="thumbnail-image" [src]="video.thumbnailUrl"/>
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center"/>
        </a>
        <div class="video-details">
          <a href="#" class="video-title">{{video.title}}</a>
          <a href="#" class="video-channel-name">Cobra Code</a>
          <div class="video-metadata">
            <span>{{video.views}} views</span>
            •
            <span>{{video.uploadDate | date:'mediumDate'}}</span>
          </div>
        </div>
        <button [matMenuTriggerFor]="videoMenu" class="video-menu"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-grip-horizontal" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg></button>
        <mat-menu #videoMenu="matMenu">
          <button mat-menu-item (click)="openUpdateDataModal(video.videoId)">Edit</button>
          <button mat-menu-item (click)="deleteVideo(video.videoId, video.title)">Delete</button>
        </mat-menu>
      </div>
    </article>
  </section>
</div>
<div *ngIf="playVideo">
  <button mat-button type="button" (click)="showPlayVideo(false)">Back</button>
  <video #video *ngIf="videoUrl" width="1280" height="720" controls [attr.src]="videoUrl">
  </video>
</div>
